.Desk {
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
}

.DeskColumn {
    display: inline-block;
    margin: 0 10px 0 0;
    min-width: 270px;
    max-width: 270px;
    vertical-align: top;
}
    .DeskColumn:last-child {
        margin: 0;
    }
        
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -8px;
    padding-top: 4px;
}