.Desk {
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
}

.DeskColumn {
    display: inline-block;
    margin: 0 10px 0 0;
    min-width: 350px;
    max-width: 350px;
    vertical-align: top;
}
    .DeskColumn:last-child {
        margin: 0;
    }
    .DeskColumn .progress {
        margin-bottom: 20px;
    }
        .DeskColumn .progress > .progress-bar {
            background-color: inherit;
        }
    .DeskColumn .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .DeskColumn .DeskColumnModify {
        margin: 0 10px 0 0;
        color: #0088cc;
    }
    .DeskColumn .DeskColumnRemove {
        margin: 0 10px 0 0;
        color: #cc0000;
    }
    .DeskColumnEmptyTasks {
        text-align: center;
        padding: 10px 0;
        color: #aaaaaa;
    }

.list-group-item.DeskTask_Dragging {
    color: #a0c6e6;
    border-color: #a0c6e6;
    border-style: dotted;
}
    .list-group-item.DeskTask_Dragging .btn-light {
        color: #a0c6e6;
    }